<% title(t('tickets.edit_title') + " #{Ticket.model_name.human}", "#{Project.model_name.human}") %>
<h2><%= t('tickets.edit_title') + " #{Ticket.model_name.human} - #{@project.name}"  %></h2>
<%= render 'form' %>
<%= link_to 'Show', [@project, @ticket] %> |
<%= link_to 'Back', project_tickets_path(@project) %>
