<h2><%= @ticket.title + " - #{@project.name }" %></h2>
<%= simple_format(@ticket.description) %>
<%= link_to t("tickets.edit_title"), [:edit, @project, @ticket] %>
<%= link_to t("tickets.delete_title"), [@project, @ticket], :method => :delete, :confirm => t("tickets.confirm_msg") %>
