
<p class="new_asset">
  <label for="<%= "ticket_assets_attributes_#{number}_asset" %>"><%= t("tickets.file") + " ##{number} " %></label>
  <input id="<%= "ticket_assets_attributes_#{number}_asset" %>" name="<%= "ticket[assets_attributes][#{number}][asset]" %>" type="file">
</p>

